<% title(t('.page_title')) %>
<% 
breadcrumbs = {
  "Request progress" => request_path(@information_request.request),
  t('information-requests') => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<%= govuk_panel(title_text: t(".panel-title")) do %>
  <%= t('.panel-summary') %>
<% end %>

<p class="govuk-body"><%= t('.summary') %></p>

</div>
</div>