@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

.app-pre-wrap {
  white-space: pre-wrap;
}

.app-rfi-waiting {
  background-color: rgba(244, 119, 56, 0.25);
}

.app-float-left {
  float: left;
}

.app-float-right {
  float: right;
}

.app-space-between {
  display: flex;
  justify-content: space-between;
}

.app-template {
  background-color: #ffffff;
}

.js-enabled .sau-filter-btn {
  display: none;
}

.js-enabled .upload-files-button {
  display: none;
}

.sau-date-warning {
  display: none;
}

@media(max-width: 480px) {
  .app-stack {
    display: table-row;
  }

  .app-border-right-0 {
    border-right: 0px !important;
  }
}