<% title(t('.page_title')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-l"><%= t(@user.disabled == "x" ? ".reactive_heading" : ".deactive_heading") %></h1>

    <%= govuk_summary_list(actions:false) do |summary_list|
        summary_list.with_row do |row|
            row.with_key { 'Public Authority' }
            row.with_value { @user.public_authority.pa_name }
        end

        summary_list.with_row do |row|
            row.with_key { 'Role' }
            row.with_value { @user.role.present? ? t(@user.role&.to_sym, scope: "helpers.label.user.role_options") : "" }
        end

        summary_list.with_row do |row|
            row.with_key { 'Name' }
            row.with_value { @user.user_name }
        end

        summary_list.with_row do |row|
            row.with_key { 'Telephone' }
            row.with_value { @user.phone }
        end

        summary_list.with_row do |row|
            row.with_key(text: 'Email address')
            row.with_value(text: @user.email )
        end
    end %>

<%= form_for @user, url: confirm_state_user_path(params[:id]), method: :delete do |f| 
    f.govuk_submit t(@user.disabled == "x" ? ".reactive_submit_btn" : ".deactive_submit_btn"), warning: (@user.disabled != "x") do
      govuk_button_link_to t(".cancel_btn"), users_path, secondary: true
    end
 end %>
</div>
</div>