<% title(t('.page_title')) %>
    <h1 class="govuk-heading-l"><%= t('.heading') -%></h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= t(".delete_text_html") %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <%= govuk_summary_list(actions:false) do |summary_list|
        summary_list.row do |row|
            row.key { 'Referral type' }
            row.value { t(@request.referral_type&.to_sym, scope: [:helpers, :label, :request, :referral_type_options]) }
        end
        if @request.previous_refno
          summary_list.row do |row|
            row.key { 'Previously submitted as' }
            row.value { "#{@request.previous_refno} (#{@request.previous_status})" }
          end
        end

        if @request.scheme_subsidy == "scheme"
            summary_list.row do |row|
                row.key { 'Subsidy scheme name' }
                row.value { @request.scheme_name }
            end
        end

        if @request.scheme_subsidy == "subsidy"
            summary_list.row do |row|
                row.key { 'Beneficiary name' }
                row.value { @request.beneficiary }
            end
        end

        summary_list.row do |row|
          row.key { 'Created by' }
          row.value { @request.user.user_name }
        end
        summary_list.row do |row|
          row.key { 'Created at' }
          row.value { @request.created_at.strftime("%d/%m/%y %H:%M") }
        end
        summary_list.row do |row|
          row.key { 
            'Last updated at' }
          row.value { @request.updated_at.strftime("%d/%m/%y %H:%M") }
        end
    end %>
  </div>
</div>

<%= form_for @request, url: request_path(@request.id), method: :delete do |f| 
    f.govuk_submit t(".submit_btn"), warning: true do
      govuk_button_link_to t(".cancel_btn"), requests_path, secondary: true
    end
 end %>