<% title(t('.page_title')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-l"><%= t(".heading") %></h1>
<%= form_for @user, url: pa_user_step_path(params[:id]), method: :patch, :as => :user do |f| %>

    <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
            row.with_key { 'Public Authority' }
            row.with_value { @user.public_authority.pa_name }
            row.with_action(text: "Change", href: pa_user_step_path('input'), visually_hidden_text: 'name')
        end

        summary_list.with_row do |row|
            row.with_key { 'Role' }
            row.with_value { @user.role.present? ? t(@user.role&.to_sym, scope: "helpers.label.user.role_options") : "" }
        end

        summary_list.with_row do |row|
            row.with_key { 'Name' }
            row.with_value { @user.user_name }
        end

        summary_list.with_row do |row|
            row.with_key { 'Telephone' }
            row.with_value { @user.phone }
        end

        summary_list.with_row do |row|
            row.with_key(text: 'Email address')
            row.with_value(text: @user.email )
        end
    end %>

    <%= f.govuk_submit t(".submit_btn") %>
<% end %>
</div>
</div>