<p class="govuk-body"></p>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= t(".page_text_html", feedback_email: feedback_email) %>
      </div>
    </div>
</div>
