<p class="govuk-body"></p>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= t(".page_text_html") %>
      </div>
    </div>
</div>
<div class="govuk-button-group">
  <%= govuk_button_link_to 'Continue', auth_user.is_pa_user? ? dashboard_path : sau_dashboard_index_path %>
</div>