<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">We were unable to authorise your request.</h1>
      <p class="govuk-body">You need authorisation to be able to see this page.</p>
      <p class="govuk-body">If you have already been given access, contact the SAU.</p>
    </div>
  </div>
</main>
